
body{
    background-color:#3e4d66;
	margin-bottom: 0%;
    }
h1{
    font-family:lato;
    color :Black;
  }
h2{
    color:white;    
    font-family:;
  }
h5{
    color: black;
	background-color:white;
	padding: 1%;
	font-family:lato;
	font-size: 20px;
}

.left{
	float: left; 
}

.right{
	float: right;
}


.heading{
    background-color:white;
    color:black;
    padding:5%;
    width:%;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	text-align: center;

}
li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover {
	background-color:#6ba1f9 ;
}
li a:active {
	background-color: #;
}
li {
	border-right: 1px solid #bbb;
}

footer {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	background-color: #333;

}

	

