body {
    background-color:blue;
    font-family: "Comic Sans MS";
    }
h1{
    font-family:Arial;
    color :blue;
  }
h2{
    color:white;    
    font-family:Arial;
  }
 img{
 }
h5{
    color:Blue
}
.heading{
    background-color:white;
    color:purple;
    padding:5px;
    width:99%;
}
.Paragraph1{
    color:black;
    background-color:white;
    padding:5px;
    width:99%;
}

.Paragraph2{
    color:black;
    padding:2px;
    width:99%;
    border:2px solid black;